.landing-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	h1 {
		text-align: center;
		padding: 0.5rem 1rem;
	}
	&__search {
		margin: 2rem 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-form {
			position: relative;
			display: flex;
			gap: 1rem;
			margin-bottom: 2rem;

			input {
				padding: 0.5rem;
				border: 1px solid #ccc;
				background-color: var(--color-grey-50);
				color: var(--color-grey-800);
				border-radius: 20px;
				font-size: 14px;
			}

			button {
				background-color: transparent;
				border: none;
				margin-top: 6px;
				position: absolute;
				right: 5%;
			}
		}
		&-image {
			height: 20px;

			&:hover {
				transform: scale(1.2);
			}
		}
		&-results {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 2rem;
			margin: 3rem 0.5rem;
		}
	}
	&__error {
		position: absolute;
		font-size: 1.1rem;
		color: var(--color-red-700);
		margin-top: 6rem;
	}
	&__latest-books {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		flex-wrap: wrap;
		margin: 1rem 2rem;
	}
}
